@using AutoMapper.Internal
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    <link rel="stylesheet" type="text/css" href="~/css/global.css" />
    <link rel="stylesheet" type="text/css" href="~/css/common_header.css" />

    <style>
        header {
            width: 100%;
            height: 6%;
        }

        /* Login Area Definition */
        input {
            display: block;
            height: 30px;
            font-size: 16px;
        }

        label {
            color: rgb(100, 100, 100)
        }

        .login_root {
            display: flex;
            width: 100%;
            height: 94%;
            justify-content: center;
            align-items: center;
        }

        .login_area {
            box-shadow: 1px 1px 5px 1px rgb(199, 199, 199);
            border-radius: 10px;
            width: 30%;
            padding: 30px;
            background-color: rgb(230, 230, 250);
        }

        .login_fieldset {
            border: none;
            padding: 0px 0px 15px 0px;
            margin: 0;
        }

        .login_fieldset a {
            display: none;
        }

        .error a {
            display: inline;
            color: #EF5350;
        }

        .text_input {
            width: 100%;
        }

        .input_button {
            height: auto;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            float: right;
            font-size: 16px;
            background-color: rgb(200, 200, 250);
        }

        .input_button:active {
            background-color: rgb(180, 180, 250);
        }
    </style>
</head>

<header>
    <!-- Header Area -->
    <div class="header" style="height: 100%;">
        <!-- Header Name -->
        <a href="/" class="header_name">Lightweight Web Service</a>
    </div>
</header>

<body>
    <!-- Body Area -->
    <div class="login_root">
        <div class="login_area">
            <h2>Login</h2>
            <h3>Login to LWS Service</h3>
            <form name="login_lws" id="lws_login" action="/account/login" , method="post">

                <fieldset class="login_fieldset @((ViewBag?.Error == true) ? "error" : "")">
                    <label>Email</label>
                    <input class="text_input" type="email" placeholder="Enter Email Address." name="userEmail">
                    <a class="validation-message">Please check email address again!</a>
                </fieldset>

                <fieldset class="login_fieldset @(((ViewBag?.Error == true)) ? "error" : "")">
                    <label>Password</label>
                    <input class="text_input" type="password" minlength="8"
                        placeholder="Enter Password(8 length or more)" name="userPassword">
                    <a class="validation-message">Please check password again!</a>
                </fieldset>

                <input class="input_button" type="submit" value="Login" />
            </form>
        </div>
    </div>
</body>
<footer>
</footer>
</html>